<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Squid Classification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      body {background-color: rgb(170, 141, 246);}
      h1 {text-align: center; font-family: fantasy; font-size: 100px;}
      h2 {font-family: fantasy;}
      label {font-family: fantasy; font-size: 32px;}
      input {font-family: fantasy;}
      button {font-family: fantasy;}

    </style>
  </head>
  <body>
    <div class="container">
      <br><br>
      <h1>Squid Classfication</h1>
      <br><br>
      <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="exampleFormControlInput1" class="form-label">Upload Your Squid Image :</label>       
          <input type="file" class="form-control" placeholder="Hours Studied"  name="my_image" id="pwd">
          <br><br>
          <button type="submit" class="btn btn-success">Submit</button>
          <br><br>
        </div>
            
      </form>

      {% if prediction %}
      <img src= "{{img_path}}" height="400px" width="400px">
      <br><br>
      <h2> ผลของการ Prediction คือ   : ถูกต้อง {{prediction}} % {{TEXT}}</h2>
      {% endif %}
    </div>
  </body>
</html>